          <footer class="footer page-footer bg-dark">    
          Quidditch6 &copy; 2019
          <a href="#" class="fa fa-facebook" aria-label="Facebook"></a>
          <a href="#" class="fa fa-twitter" aria-label="Twitter"></a>
          <a href="#" class="fa fa-instagram" aria-label="Instagram"></a>
          <a href="#" class="fa fa-google" aria-label="Google"></a>
          </footer>
     </body>
</html