<%- include('head'); %>
<body>
  <%- include('navbar') %>
  <h1>Login</h1>
  <div class="container">
    <!-- Default form login -->
    <div class="text-center border border-light p-5">
      <p class="h2 mb-4">Sign in</p>

      <!-- Username -->
      <input type="text" id="username" class="form-control mb-4" placeholder="Username" />
      <div class="error" id="usernameError">&nbsp;</div>

      <!-- Password -->
      <input type="password" id="password" class="form-control mb-4" placeholder="Password" />
      <div class="error" id="passwordError">&nbsp;</div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" onclick="login()">Sign in</button>

      <!-- Register -->
      <p>
        Not a member?
        <a href="/register">Register</a>
      </p>
    </div>
  </div>

  <%- include('footer'); %>
</body>
