<%- include('head'); %>
<body>
  <%- include('navbar') %>
  <h1>Matches</h1>

  <div class="container">
    <div class="table-rows">
      <!-- First row -->
      <!-- Left match -->
      <div class="match">
        <div class="team">
          <img
            src="../public/images/chudley-cannons-logo-1.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Chudley Cannons</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/Puddlemere-united.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Puddlemere United</div>
        </div>
      </div>

      <!-- Right match -->
      <div class="match">
        <div class="team">
          <img
            src="../public/images/falmouth-falcons.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Falmouth Falcons</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/pride-of-portree.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Pride of Portree</div>
        </div>
      </div>
      <!-- End of first row -->

      <!-- Second row-->
      <!-- Left match -->
      <div class="match">
        <div class="team">
          <img
            src="../public/images/tutshill-tornados.jpg"
            alt=""
            class="logo"
          />
          <div class="team-name">Tutshill Tornados</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/wimbourne-wasps.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Wimbourne Wasps</div>
        </div>
      </div>

      <!-- Right match -->
      <div class="match">
        <div class="team">
          <img
            src="../public/images/montrose-magpies.jpeg"
            alt=""
            class="logo"
          />
          <div class="team-name">Montrose Magpies</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/wigtown-wanderers.jpg"
            alt=""
            class="logo"
          />
          <div class="team-name">Wigtown Wanderers</div>
        </div>
      </div>
      <!-- End of second row -->

      <!-- Third row -->
      <!-- Left match -->
      <div class="match">
        <div class="team">
          <img src="../public/images/appleby-arrows.jpeg" alt="" class="logo" />
          <div class="team-name">Appleby Arrows</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/holyhead-harpies.jpg"
            alt=""
            class="logo"
          />
          <div class="team-name">Holyhead Harpies</div>
        </div>
      </div>

      <!-- Right match -->
      <div class="match">
        <div class="team">
          <img
            src="../public/images/caerphilly-catapults.jpg"
            alt=""
            class="logo"
          />
          <div class="team-name">Caerphilly Catapults</div>
        </div>

        <div class="versus">
          V
        </div>

        <div class="team">
          <img
            src="../public/images/kenmare-kestrels.jpg"
            alt=""
            class="logo"
          />
          <div class="team-name">Kenmare Kestrels</div>
        </div>
      </div>
      <!-- End of third row -->
    </div>
  </div>
  <%- include('footer'); %>
</body>
