<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">QuidditchQ6</a>
    <img class="flash-img" src="../images/flash.png">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
        <ul class="navbar-nav mr-auto">  
            <li class="nav-item active">
                <a class="nav-link" href="/matches">Play Quidditch6<span class="sr-only">(current)</span></a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="#">Leaderboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Results</a>
            </li>
        </ul>
    </div>

    <%if (loggedIn) { %> 
        <div class="navbar-collapse collapse order-1 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/logout">Logout</a>
                </li>
            </ul>
        </div>
    <% } else{ %>
    <div class="navbar-collapse collapse order-1 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <div class="divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <div class="divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </div>
    <% } %>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
</div>
</div>