* {
    box-sizing: border-box;
  }

.left-teams{
  display: flex;
  width:100%;
  padding:25px;
  margin-right: 25px;
  }

.right-teams{
  display: flex;
  width:100%;
  padding: 25px;
  margin-left: 25px;
  }
  
.row {
  display: flex;
  width:100%;
  padding-bottom: 25px;
  padding-top: 25px;
  }

  /*Includes logo and team name  */
.team { 
  padding-left: 5px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100px;
  }

.team-name{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Just the "v" sign */
.versus{
  width: 30px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 90px;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

/* Entire spin box container, containing input box, up arrow & down arrow */
.spinBox{
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.25em;
  box-shadow: 0 0.0625em 0 rgba(255,255,255,0.5);
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}


/* Below CSS effectively "hides" the ugly, non-formatable, generic spin buttons that automatically
appear when you create the input="number" function in html */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield; /*need this bc Firefox won't behave otherwise*/
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


/* The box where the score predictions go */
.spinBox input[type=number] {
  display: block;
  width: 2em;
  height: 2em;
  padding: 0 0.25em;
  border: 0.0625em solid rgb(224,224,224);
  border-radius: 0.25em;
  color: rgb(64,64,64);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Arrow up button */
.spinBox button.up{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 10px 10px 10px 15px;
  vertical-align: middle;
  background-color: transparent;
  outline: none;
}

/* Arrow down button */
.spinBox button.down{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  margin: 10px 10px 10px 15px;
  vertical-align: middle;
  background-color: transparent;
  outline: none;
}