/* For Mobile */
* {
  box-sizing: border-box;
}

.navbar {
  z-index: 3000;
}

.h1 {
  margin: 50px auto;
}

body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-image: url("/images/quidditch-background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* background-size: 100% 100%; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  z-index: 1;
  margin-left: auto;
  /* margin-right: auto; */
  margin-top: 5%;
  width: 900px;
}

.banner .line {
  margin: 0 0 10px;
  width: 80%;
  height: 78px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-size: 2em;
  line-height: 78px;
  transform: skew(0, 0deg);
}

.banner .line:after,
.banner .line:first-child:before {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: -1;
  display: block;
  width: 330px;
  height: 78px;
  border-radius: 4px;
  background: rgba(180, 180, 180, 0.8);
  content: "";
  transform: skew(0, 15deg);
}

.banner .line:first-child:before {
  top: -10px;
  right: 0;
  left: auto;
}

.banner .line:first-child:before,
.banner .line:last-child:after {
  width: 0;
  height: 0;
  border-width: 38px;
  border-style: solid;
  border-color: rgba(180, 180, 180, 0.8) rgba(180, 180, 180, 0.8) transparent transparent;
  background: transparent;
}

.banner .line:last-child:after {
  top: 12px;
  border-color: transparent transparent rgba(180, 180, 180, 0.8) rgba(180, 180, 180, 0.8);
}

.banner span {
  font-size: 1em;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  color: #666;
  text-shadow: 1px 1px 0 #444;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  min-width: 320px;
  max-width: 720px;
}

.error {
  color: red;
}

.flash-img {
  width: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}

.quidditch-logo {
  margin: auto;
}

.quidditch-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Matches formatting */
.table-rows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  z-index: inherit;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background: black;
  background: linear-gradient(180deg, rgba(143, 137, 137, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(143, 137, 137, 0.8) 100%);
}

.match {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 8px;
  width: 50%;
  flex: 1 1 0%;
  z-index: 2000; */
  display: flex;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 2000;
  /* border: 2px solid white; */
}

/*Includes logo and team name  */
.team {
  margin: auto;
  width: 25%;
}

.logo {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.team-name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 20%;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

/* Just the "v" sign */
.versus {
  /* width: 20px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 90px;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-weight: 600;
  color: white; */

  margin: auto;
  max-width: 40%;
  object-fit: contain;
  display: block;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
  z-index: 3000;
}

.formfield-title {
  color: white;
  font-weight: 800;
}

/* ------------------- FOR DESKTOP FORMATTING --------------------- */
@media only screen and (min-width: 720px) {
  body {
    background-position: unset;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 100%;
    margin: auto;
  }

  .table-rows {
    display: flex;
    flex-wrap: wrap;
    z-index: inherit;
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .match {
    display: flex;
    width: 40%;
    padding: 20px;
    margin: auto;
    z-index: 2000;
  }

  .team {
    margin: auto;
  }

  .team-name {
    font-size: 12px;
  }

  .flash-img {
    width: 30px;
  }

  .snitch-logo {
    width: 40%;
  }

  .logo {
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
  }
  .guess-snitch-team {
    margin-left: auto;
    margin-right: auto;
  }

  .quidditch-logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .versus {
    margin: auto;

    /* display: block; */
    margin: auto;
    max-width: 40%;
    object-fit: contain;
  }

  .formfield {
    width: 20%;
    /* background: rgba(143, 137, 137, 0.8); */
  }
}
